 td {
  text-align: center;
  font-size: 70px;
  height: 450px;
  width: 350px;
  border: 1px solid #B2E6D4;
  color: #83E8BA;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 30px;
  padding-left: 30px;

}
table {
  margin: 0 auto;

}
.col-md-12 {
  text-align: center;
}
.toppings td {
  height: 300px;
  width: 300px;
  padding: 0px;
}
.thumbnail img {
  height: 168px;
  width: 252px;
}
